body{
    margin: 0px;
}

.link-global{
    color: #17B491;
    text-decoration: underline;
    padding: 8px;
}

.link-global:hover{
    color: white;
    background-color: #17B491;
    cursor: pointer;
}

#menu-logo:hover{
    cursor: pointer;
}

#menu-app-version{
    font-size: x-small;
}

.select-input-area{
    padding: 0;
    margin-top: 8px;
    margin-bottom: 8px;
}

.select-input-label{
    width: 100%;
    padding: 8px;
    margin: 0;
    background-color: #ECF0F1;
    border-top: 2px solid #DCE4EC;
    border-left: 2px solid #DCE4EC;
    border-right: 2px solid #DCE4EC;
}

.modificator-label{
    font-weight: bold;
    padding: 8px;
    margin: 0;
    background-color: #ECF0F1;
    border-top: 2px solid #DCE4EC;
    border-left: 2px solid #DCE4EC;
    border-right: 2px solid #DCE4EC;
    position: relative;
}

.select-input{
    width: 100%;
    margin: 0;
    padding: 8px;
    border: 2px solid #DCE4EC;
    background-color: white;
}

.medical-act-buttons-area{
    position: relative;
}

.select-input-button-update{
    margin-top: 8px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.select-input-loading{
    background-color: #ECF0F1;
}

.input-search-date{
    border: 1px solid #DCE4EC;
    border-radius: 3px 3px 3px 3px;
}

#input-search{
    margin-bottom: 0;
}

#input-search-area{
    margin: 0;
    position: relative;
}

#input-search-area label{
    height: 22px;
}

.input-img{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 43px;
    right: 16px;
    border-radius: 4px 4px 4px 4px;
}

.ui-autocomplete{
    margin-top: 0;
    padding-top: 0;
}

.ui-menu-item-hide, .ui-menu-item-wrapper-hide{
    color: transparent;
    background-color: transparent;
    border: none;
}

.ui-widget-content{
    border: none:
}

.ui-widget-content-hide {
    display: none;
}

#results-areas{
    margin-top: 32px;
    position: relative;
}

.area-loading{
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
}

.medical-area-modificator-loading{
    background-color: transparent;
}

.td-result{
    padding: 0;
    margin: 0;
    position: relative;
}

.td-span-result{
    width: 100%;
    height: 100%;
    color: #17B491;
    text-decoration: underline;
    padding: 8px;
    margin: 0;
    display: block;
}

.tr-results:hover, .tr-results:hover td span{
    color: white;
    background-color: #17B491;
    cursor: pointer;
}

.loading-area{
    text-align: center;
}

.results-loading-img{
    width: 32px;
    height: 32px;
    border-radius: 8px 8px 8px 8px;
}

#result-button-more{
    padding-top: 12px;
    padding-bottom: 12px;
}

/* Medical act */

.medical-act-notes{
    font-size: small;
}

#medical-act-modificators{
    position: relative;
}

#medical-act-modificators-2{
    height: 256px;
    overflow-x: visible;
    overflow-y:  auto;
}

.medical-act-modificator, .medical-act-modificator-reset{
    margin: 0;
    padding-top: 8px;
    padding-left: 4px;
    padding-right: 4px;
    padding-bottom: 8px;
    border-radius: 6px 6px 6px 6px;
}

.medical-act-modificator:hover, .medical-act-modificator-reset:hover{
    cursor: pointer;
}

.medical-act-modificator-selected, .medical-act-modificator-reset-selected{
    color: white;
    background-color: #17B491;
}

.medical-act-modificator img, .medical-act-modificator span, .medical-act-modificator-reset img, .medical-act-modificator-reset span{
    vertical-align: middle;
}

.medical-act-modificator span, .medical-act-modificator-reset span{
    font-size: small;
}

.medical-act-modificator-option-selected{
    color: white;
    background-color: #17B491;
}

#medical-act-modificators-select-area{
    width: 100%;
    position: relative;
}

#medical-act-modificators-select-area-button{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    position: absolute;
}

.medical-act-modificator-buttons-loading, .medical-act-modificator-buttons-loading:hover{
    color: #b2b7b8;
}

#medical-act-price-area{
    font-size: x-large;
    text-align: right;
    margin-top: 8px;
    margin-bottom: 8px;
}